<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="posts-container" class="postContainer">
        <section class="postSection">
            <div class="wrapper">
                <div class="header-wrap">
                    <img src="~/Content/Images/avadefault.jpg" alt="" class="logo" style="width: 35px; height: 35px;">
                    <div class="title">
                        <span style="margin-left: 10px; "></span>
                    </div>
                </div>
                <div class="body-wrap">
                    <img src="~/Content/Images/food.jpg" alt="">
                </div>
                <div class="body-title">
                    <div class="wrapper-body">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comment"></i>
                    </div>
                    <div class="wrapper-body">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                </div>
                <div class="status-text" style="margin-top: 25px; height: 120px">
                    <span>
                        Welcome to Foodie Social
                    </span>
                </div>
            </div>
            <div class="sm-title">
                <div class="center-title">
                    <div class="input-wrapper">
                        <input style="height: 45px; border-radius: 10px;" placeholder="Add comment..." />
                        <i class="fa-regular fa-paper-plane"></i>
                    </div>
                </div>
            </div>
            <hr />
        </section>

        <section class="postSection">
            <div class="wrapper">
                <div class="header-wrap">
                    <img src="~/Content/Images/avadefault.jpg" alt="" class="logo" style="width: 35px; height: 35px;">
                    <div class="title">
                        <span style="margin-left: 10px; "></span>
                    </div>
                </div>
                <div class="body-wrap">
                    <img src="~/Content/Images/food2.jpg" alt="">
                </div>
                <div class="body-title">
                    <div class="wrapper-body">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comment"></i>
                    </div>
                    <div class="wrapper-body">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                </div>
                <div class="status-text" style="margin-top: 25px; height: 120px ">
                    <span>
                        Welcome to Foodie Social
                    </span>
                </div>
            </div>
            <div class="sm-title">
                <div class="center-title">
                    <div class="input-wrapper">
                        <input style="height: 45px; border-radius: 10px;" placeholder="Add comment..." />
                        <i class="fa-regular fa-paper-plane"></i>
                    </div>
                </div>
            </div>
            <hr />
        </section>

        <section class="postSection">
            <div class="wrapper">
                <div class="header-wrap">
                    <img src="~/Content/Images/avadefault.jpg" alt="" class="logo" style="width: 35px; height: 35px;">
                    <div class="title">
                        <span style="margin-left: 10px; "></span>
                    </div>
                </div>
                <div class="body-wrap">
                    <img src="~/Content/Images/food3.jpg" alt="">
                </div>
                <div class="body-title">
                    <div class="wrapper-body">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comment"></i>
                    </div>
                    <div class="wrapper-body">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                </div>
                <div class="status-text" style="margin-top: 25px; height: 120px ">
                    <span>
                       Bot chien from Vietnam
                    </span>
                </div>
            </div>
            <div class="sm-title">
                <div class="center-title">
                    <div class="input-wrapper">
                        <input style="height: 45px; border-radius: 10px;" placeholder="Add comment..." />
                        <i class="fa-regular fa-paper-plane"></i>
                    </div>
                </div>
            </div>
            <hr />
        </section>

        <section class="postSection">
            <div class="wrapper">
                <div class="header-wrap">
                    <img src="~/Content/Images/avadefault.jpg" alt="" class="logo" style="width: 35px; height: 35px;">
                    <div class="title">
                        <span style="margin-left: 10px; "></span>
                    </div>
                </div>
                <div class="body-wrap">
                    <img src="~/Content/Images/banhmi.jpeg" alt="">
                </div>
                <div class="body-title">
                    <div class="wrapper-body">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comment"></i>
                    </div>
                    <div class="wrapper-body">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                </div>
                <div class="status-text" style="margin-top: 25px; height: 120px">
                    <span>
                      Banh mi from Vietnam
                    </span>
                </div>
            </div>
            <div class="sm-title">
                <div class="center-title">
                    <div class="input-wrapper">
                        <input style="height: 45px; border-radius: 10px;" placeholder="Add comment..." />
                        <i class="fa-regular fa-paper-plane"></i>
                    </div>
                </div>
            </div>
            <hr />
        </section>

        <section class="postSection">
            <div class="wrapper">
                <div class="header-wrap">
                    <img src="~/Content/Images/avadefault.jpg" alt="" class="logo" style="width: 35px; height: 35px;">
                    <div class="title">
                        <span style="margin-left: 10px; "></span>
                    </div>
                </div>
                <div class="body-wrap">
                    <img src="~/Content/Images/shushi.jpg" alt="">
                </div>
                <div class="body-title">
                    <div class="wrapper-body">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comment"></i>
                    </div>
                    <div class="wrapper-body">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                </div>
                <div class="status-text" style="margin-top: 25px; height: 120px">
                    <span>
                       Sushi from Japan
                    </span>
                </div>
            </div>
            <div class="sm-title">
                <div class="center-title">
                    <div class="input-wrapper">
                        <input style="height: 45px; border-radius: 10px;" placeholder="Add comment..." />
                        <i class="fa-regular fa-paper-plane"></i>
                    </div>
                </div>
            </div>
            <hr />
        </section>
    </div>
    <script>
    $(document).ready(function() {
        $("#createPostForm").submit(function(e) {
            e.preventDefault(); // Ngăn chặn việc gửi form mặc định

            // Lấy giá trị của các trường nhập liệu
            var writtenText = $("#Writtentext").val();
            var mediaImage = $("#Mediaimage").val();

            // Tạo HTML cho section mới
            var sectionHTML = `
            <section>
                <div class="wrapper">
                    <div class="header-wrap">
                        <img src="~/Content/Images/avadefault.jpg" alt="" class="logo" style="width: 35px; height: 35px;">
                        <div class="title">
                            <span style="margin-left: 10px;">@Session["UserName"]</span>
                        </div>
                    </div>
                    <div class="body-wrap">
                        <img src="${mediaImage}" alt="">
                    </div>
                    <div class="body-title">
                        <div class="wrapper-body">
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-regular fa-comment"></i>
                        </div>
                        <div class="wrapper-body">
                            <i class="fa-regular fa-bookmark"></i>
                        </div>
                    </div>
                    <div class="comment" style="margin-top: 15px;">
                        <span>${writtenText}</span>
                    </div>
                    <div class="sm-title">
                        <div class="center-title">
                           <input style=" width: 342px;"  placeholder="Add comments"/><button type="submit" value="Save"> <i class="fa-regular fa-paper-plane"></i></button>
                        </div>
                        <hr />
                    </div>
                </div>
            </section>
            `;

            // Thêm section mới vào DOM
            $("#postsContainer").append(sectionHTML);

            // Xóa giá trị của các trường nhập liệu
            $("#Written_text").val("");
            $("#Media_image").val("");
        });
    });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .wrapper {

        }
    </style>
</body>
</html>



