* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

a {
    text-decoration: none !important;
}

.header {
    display:grid;
    max-width: 20%;
    width: 100%;
}

    .header .logo {
        max-width: -1em;
    }

        .header .logo img {
            width: 15em;
        }

    .header .navbar-head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: -1rem;
    }

        .header .navbar-head a {
            font-size: 1.9rem;
            margin: 32px 45px;
            color: black;
        }

            .header .navbar-head a i {
                margin-right: 0.4em;
            }

    .header .icons a {
        font-size: 1.9rem;
        padding: 1rem;
        color: black;
        margin-left: 35px;
    }

    .header .icons i {
        margin-right: 0.3em;
    }

.container {
    display: flex;
    height: 100vh;
}
