* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 62.5%;
}

main {
    font-family: sans-serif, arial, helvetica;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
}

    .title span {
        margin: 0 0.5rem;
        font-size: 1rem;
        margin-left: 10px;
    }

.wrapper {
    width: 100%;
    border-radius: 10px;
}

.header-wrap {
    display: flex;
    justify-content: flex-start;
    padding: 0 14%;
}

    .header-wrap .title span{
        font-size: 1.3rem;
    }

    .header-wrap  i {
        font-size: 1.5rem;
        position: relative;
        left: 18.7em;
        top: 1.3rem;
        cursor: pointer;
    }


.logo {
    border-radius: 50%;
}

.body-wrap {
    width: 100%;
    text-align: center;
}

    .body-wrap img {
        width: 400px;
        margin: 1rem 0;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
    }

.body-title {
    display: flex;
    justify-content: space-between;
    padding: 0 16%;
}

.status-text {
    padding: 0 16%;
    height: auto;
}


.wrapper-body i {
    font-size: 1.5rem;
    cursor: pointer;
}

    .wrapper-body i + i {
        margin: 0 1rem;
    }

    .wrapper-body i.fa-regular.fa-heart{
        color: black;
    }

        .wrapper-body i.fa-regular.fa-heart.liked {
            color: red; /* Màu đỏ khi biểu tượng trái tim được nhấp vào */
        }

.center-title {
    text-align: center;
}

.sm-title {
    margin: 1rem 0;
}

    .sm-title input {
        width: 400px;
        border: 0.1px outset;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        position: relative;
        top: 10px;
    }

.center-title i {
    position: absolute;
    top: 20px;
    right: 85px;
    padding: 0.7rem;
    border-radius: 10px;
    cursor: pointer;
}

.center-title .input-wrapper{
    position: relative;
}

.postContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postSection hr{
    width: 28em;
    margin: 3rem auto;
}

.postSection{
    height: 47rem;
}

/*.postSection:nth-child(even) {
    margin-top: 0.5rem;
}*/


/*css*/
.wrapper-scroll {
    max-width: 39%;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    padding: 30px 20px;
    overflow: scroll;

}

    .wrapper-scroll::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }



