* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 62.5%;
}

main {
    font-family: sans-serif, arial, helvetica;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    border-radius: 50%;
}

.title {
    display: flex;
    align-items: center;
}

    .title span {
        margin: 0 0.5rem;
        font-size: 1rem;
        margin-left: 10px;
    }

.wrapper {
    width: 400px;
    height: 450px;
    border-radius: 10px;
}

.header-wrap {
    display: flex;
    justify-content: flex-start;
}

.body-wrap {
    width: 100%;
    text-align: center;
}

    .body-wrap img {
        width: 400px;
        margin: 1rem 0;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
    }

.body-title {
    display: flex;
    justify-content: space-between;
}


.wrapper-body i {
    font-size: 1.5rem;
    cursor: pointer;
}

    .wrapper-body i + i {
        margin: 0 1rem;
    }

.center-title {
    text-align: center;
}

.sm-title {
    margin: 1rem 0;
}

    .sm-title input {
        width: 400px;
        border: 0.1px outset;
        padding: 1rem 0;
        position: relative;
        top: 10px;
    }

.center-title i {
    position: absolute;
    top: 20px;
    right: 15px;
    padding: 0.7rem;
    border-radius: 10px;
    cursor: pointer;
}

.center-title .input-wrapper{
    position: relative;
}

.postContainer {
    display: flex;
    flex-direction: column;
}

.postSection:nth-child(even) {
    margin-top: 1.3rem;
}
