@{
    ViewBag.Title = "Contact";
    Layout = null;
}
<h2>@ViewBag.Title</h2>

<h3>
    To Admin Page<br />
    Võ An Khánh<br />
    Phonenumber: 0383581802
</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:souldragon52@gmail.com">souldragon52@gmail.com</a><br />
</address>