@model FoodieSocial.Models.Friend

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CancelFriendRequest</title>
</head>
<body>
</body>
</html>
