@model FoodieSocial.Models.User_post

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/Content/Images/loginlogo.png" type="image/png" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>CreatePost</title>
</head>
<body>
    @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {

        @Html.Hidden("ProfileId", (int)Session["UserId"]) // Thêm trường ẩn để lưu trữ ProfileId

        @Html.TextBoxFor(model => model.Writtentext, new { @class = "form-control form-control-lg", @placeholder = "Input your content", @style = "position: relative; bottom: 10px;" })

        <input type="file" multiple="multiple" class="btn btn-outline-primary ms-1, hidden" id="imageFile" accept="image/*" />

        <img id="display_image" src="#" class="hidden" />


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-outline-primary ms-1" />
                <a href="@Url.Action("Index","Home")" class="btn btn-outline-primary ms-1">Back to Main page</a>
            </div>
        </div>
    }


    @* script của upload *@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        var mediaImageFile = document.getElementById('imageFile');
        var display_image = document.getElementById('display_image');

        mediaImageFile.onchange = evt => {

            const [file] = mediaImageFile.files

            if (file) {

                display_image.src = URL.createObjectURL(file);

                $("#display_image").removeClass("hidden");

            }

        }
    </script>

    <style>

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-direction: column;
            height: 90vh;
        }

        #display_image {
            width: 100%;
            height: 200px;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

            #display_image img {
                max-width: 100%;
                max-height: 100%;
            }
    </style>

</body>
</html>
